/*
color: #F3D799;
color: #89857C;
color: #FAEBD7;
color: #356859;
color: #FF6F61;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #356859;
    color: #262626;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.container {
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    background-color: #FAEBD7;
}

.goods-list {
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.goods-item {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border: 1px solid #89857C;
    border-radius: 5px;
}
.cart-total {
    float: right;
    display: block;
    background-color: #F3D799;;
    border: 1px solid #356859;
    border-radius: 5px;
    /*height: 50px;*/
    width: 20%;
    margin: 30px;
    margin-right: 50px;
    text-align: center;
    padding: 15px;
}

button {
    height: 50px;
    width: 20%;
    margin: 30px;
    margin-left: 50px;
    background-color: #FF6F61;
    border: 1px solid #356859;
    border-radius: 5px;
    font-size: 1.2em;
    color: #FFFFFF;
}


